altair
annotated-types
attrs
app-store-scraper
beautifulsoup4
blinker
bs4
cachetools
certifi
cffi
chardet
charset-normalizer
click
cryptography
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
httplib2
idna
Jinja2
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
numpy
packaging
pandas
pillow
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
Pygments
pyparsing
python-dateutil
pytz
referencing
requests>=2.23.0
rich
rpds-py
rsa
six
smmap
soupsieve
streamlit
streamlit-cookies-manager
tenacity
toml
toolz
tornado
tqdm
typing_extensions
tzdata
uritemplate
urllib3
watchdog
